# Auto detect text files and perform LF normalization
* text=auto
data_provided/01_RNAseqProcessing/01_02_B_01_RawData.RData filter=lfs diff=lfs merge=lfs -text
data_provided/01_RNAseqProcessing/01_02_B_05_MARSOutput_CVCompiled.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_B_01_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_A_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_A_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_A_RegressedExpression_TRI.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_B_RegressedExpression_TRI.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_03_rWGCNA_consensusModules.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_intersect_DE.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_isoformModules_filtered.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_WholeCortex_FullDGE.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/gencode.v25lift37.annotation.gene_to_transcript.key.RData filter=lfs diff=lfs merge=lfs -text
data_provided/05_RegVarAnalysis/05_01_A_01_ME_assoc_table.RData filter=lfs diff=lfs merge=lfs -text
data_provided/05_RegVarAnalysis/05_01_A_01_ME_assoc_table_all_covariates.RData filter=lfs diff=lfs merge=lfs -text
data_provided/05_RegVarAnalysis/collins_PNAS2010_macaque_cortical_density.csv filter=lfs diff=lfs merge=lfs -text
data_provided/05_RegVarAnalysis/wagstyl_PlosBiol2020_cortical_L4_thickness.csv filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/AllGenesByModule_wDGE_wAnnotation.csv filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/Gene_NormalizedExpression_Metadata_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/Gene_NormalizedExpression_TechnicalCovariatesRemoved.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/GeneModule_Annotation.xlsx filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/GeneModule_SummaryPlots.pdf filter=lfs diff=lfs merge=lfs -text
main_datasets/A_GeneLevel/RawData_GeneCounts.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/AllIsoformsByModule_wDTE_wAnnotation.csv filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/Isoform_NormalizedExpression_Metadata_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/Isoform_NormalizedExpression_TechnicalCovariatesRemoved.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/IsoformModule_Annotation.xlsx filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/RawData_IsoformCounts.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/B_IsoformLevel/Unique_IsoformModule_SummaryPlots.pdf filter=lfs diff=lfs merge=lfs -text
main_datasets/AllGeneExpr_wMetadata_RShiny.RData filter=lfs diff=lfs merge=lfs -text
main_datasets/AllIsoformExpr_wMetadata_RShiny.RData filter=lfs diff=lfs merge=lfs -text
