# Auto detect text files and perform LF normalization
* text=auto
data_provided/01_RNAseqProcessing/01_02_B_01_RawData.RData filter=lfs diff=lfs merge=lfs -text
data_provided/01_RNAseqProcessing/01_02_B_05_MARSOutput_CVCompiled.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_B_01_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_A_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/02_DEGenesIsoforms/02_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_A_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_A_RegressedExpression_TRI.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/03_TRI/03_01_B_RegressedExpression_TRI.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_AllProcessedData_wModelMatrix.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_RegressedExpression.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_A_03_rWGCNA_consensusModules.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_intersect_DE.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_isoformModules_filtered.RData filter=lfs diff=lfs merge=lfs -text
data_provided/04_WGCNA/04_01_B_02_WholeCortex_FullDGE.RData filter=lfs diff=lfs merge=lfs -text
data_provided/gencode.v25lift37.annotation.gene_to_transcript.key.RData filter=lfs diff=lfs merge=lfs -text